@model BookRental.ViewModels.BookRentalViewModel
@using BookRental.Utility;
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Reserve", "BookRent"))
{
    @Html.AntiForgeryToken();

<div class="row">
    @* Book Image*@
    <div class="col-sm-3 col-xs-4">
        <img class="thumbnail-img" src="@Model.ImageUrl" alt="" style="width:100%; height:auto; padding:10px;" />
    </div>
    @* Book Title and Description*@
    <div class="col-sm-6 col-xs-8 content-book-main">
        <div class="content-book-title-author">
            <h2><b>@Model.Title</b></h2>
            <h5>by @Model.Author</h5>
        </div>
        <div>
            <br />
            <span>@Html.Raw(Model.Description)</span>
        </div>
        <br />
    </div>
    @* Book Details*@
    <div class="col-sm-3 col-xs-12 content-book-product-details">
        <div>
            @{
                List<SelectListItem> listItems = new List<SelectListItem>();
                listItems.Add(new SelectListItem
                {
                    Text = SD.OneMonth,
                    Value = SD.OneMonthCount
                });
                listItems.Add(new SelectListItem
                {
                    Text = SD.SixMonth,
                    Value = SD.SixMonthCount
                });
            }

            @if ((0 != Model.RPOneMonth) && (0 != Model.RPSixMonth))
            {
                // User is logged in and he is not admin
                <div class="form-control" style="height:350px;">
                    <div class="input-group" style="height:30px;">
                        <label>MSRP:</label>
                        <label id="lblMSRP" style="font-weight:normal;">$@(Model.Price)</label>
                        <br />
                    </div>
                    <hr />
                    <div class="input-group" style="height:90px;">
                        <label>Rental Price:</label>
                        <br />
                        <label id="lblOneMonth" style="font-weight:normal;">One Month: $@(Model.RPOneMonth)</label>
                        <br />
                        <label id="lblSixMonth" style="font-weight:normal;">Six Month: $@(Model.RPSixMonth)</label>
                        <br />
                    </div>
                    <br />
                    <label>Select your rental duration:</label>
                    <br />
                    @Html.DropDownListFor(m => m.RentalDuratioin, listItems, new { @class = "form-control" })
                    <span style="font-size:12px;">Reserve before 3pm for same day pickup.<br /><br /></span>
                    @if (Model.Availability > 0)
                    {
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-thumbs-up"></span> Reserve
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-danger disabled">
                            <span class="glyphicon glyphicon-thumbs-down"></span> Unavailable
                        </button>
                    }
                </div>
            }
            else
            {
                // user is not login or he's an admin
                <div class="form-control" style="height:150px;">
                    <div class="input-group" style="height:30px;">
                        <label>MSRP:</label>
                        <label id="lblMSRP" style="font-weight:normal;">$@(Model.Price)</label>
                        <br />
                    </div>
                    <hr />

                    @if (User.IsInRole(SD.AdminUserRole) && (Model.Availability > 0))
                    {
                        // Admin -> Create button
                        @Html.ActionLink("Create rental","Create","BookRent",
                            new { isbnArg=Model.ISBN, titleArg = Model.Title},
                            new { @class="btn btn-primary"})
                    }
                    else
                    {
                        if (User.IsInRole(SD.AdminUserRole) && (Model.Availability == 0))
                        {
                            // Admin & No books
                            <button type="submit" disabled class="btn btn-danger">
                                <span class="glyphicon glyphicon-thumbs-down">Unavailable</span>
                            </button>
                        }
                        else
                        {
                            // user not logged in
                            <span>Login to unlock the rental price!</span>
                        }
                    }
                </div>
            }
        </div>

        <h4 class="product-details-heading"> Product Details </h4>

        <dl>
            <dt>
                @Html.DisplayNameFor(m => m.ISBN)
            </dt>
            <dd>
                &nbsp;&nbsp;&nbsp;&nbsp; @Html.DisplayFor(m => m.ISBN)
            </dd>
        </dl>
        <dl>
            <dt>
                @Html.DisplayNameFor(m => m.Publisher)
            </dt>
            <dd>
                &nbsp;&nbsp;&nbsp;&nbsp; @Html.DisplayFor(m => m.Publisher)
            </dd>
        </dl>
        <dl>
            <dt>
                @Html.DisplayNameFor(m => m.PublicationDate)
            </dt>
            <dd>
                &nbsp;&nbsp;&nbsp;&nbsp; @Html.DisplayFor(m => m.PublicationDate)
            </dd>
        </dl>
        <dl>
            <dt>
                @Html.DisplayNameFor(m => m.Pages)
            </dt>
            <dd>
                &nbsp;&nbsp;&nbsp;&nbsp; @Html.DisplayFor(m => m.Pages)
            </dd>
        </dl>
        <dl>
            <dt>
                @Html.DisplayNameFor(m => m.ProductDimensions)
            </dt>
            <dd>
                &nbsp;&nbsp;&nbsp;&nbsp; @Html.DisplayFor(m => m.ProductDimensions)
            </dd>
        </dl>
        <dl>
            <dt>
                @Html.DisplayNameFor(m => m.Price)
            </dt>
            <dd>
                &nbsp;&nbsp;&nbsp;&nbsp; @Html.DisplayFor(m => m.Price)
            </dd>
        </dl>

        @Html.HiddenFor(m=>m.BookId)
    </div>
</div>

                }

